{% extends 'base.html.twig' %}

{% block title %}Vintange
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="styles/index.css">
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="titulo">
			<h1 class="my-4 text-center">TODOS NUESTROS {{ categoria.nombre }}</h1>

		</div>
		<div class="container container-carousel my-5">
			<div id="productCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#productCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#productCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#productCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
					<button type="button" data-bs-target="#productCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
				</div>
				<div class="carousel-inner text-center">
					<div class="carousel-item active">
						<img src="{{ asset('images/slider/cartel-slider.jpg') }}" class="d-block w-100 h-50" alt="Producto 1">
					</div>
					<div class="carousel-item">
						<img src="{{ asset('images/slider/caset-slider.jpg') }}" class="d-block w-100 h-50" alt="Producto 2">
					</div>
					<div class="carousel-item">
						<img src="{{ asset('images/slider/coche-slider.jpg') }}" class="d-block w-100 h-50" alt="Producto 3">
					</div>
					<div class="carousel-item">
						<img src="{{ asset('images/slider/caset2-slider.jpg') }}" class="d-block w-100 h-50" alt="Producto 4">
					</div>
				</div>
			</div>
		</div>
		{% if productos is empty %}
			<div class="alert alert-info" role="alert">
				No hay productos registrados
			</div>
		{% else %}
			<div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">
				{% for producto in productos|reverse %}
					<div class="col">
						<div class="card shadow">
							<div class="card-body">
								<h5 class="card-title">{{ producto.nombre }}</h5>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
       									<img src={{ asset('uploads/fotosProductos/' ~ producto.foto) }} width="200px">								
									</li>
									<li class="list-group-item">
										<strong>Descripcion:</strong>
										{{ producto.descripcion }}</li>
									<li class="list-group-item">
										<strong>Precio:</strong>
										{{ producto.precio }}</li>
								</ul>
								{% if is_granted('ROLE_ADMIN') %}
								<div class="text-end mt-3">
									<a href="{{ path('deleteProducto', {id: producto.id}) }}" class="btn btn-danger me-2">Borrar</a>
									<a href="{{ path('editProducto', {id: producto.id}) }}" class="btn btn-primary">Editar</a>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}
